In [1]:
import requests
from bs4 import BeautifulSoup
import csv

In [2]:
rows=[["title","article","category"]]

In [3]:
URL = "https://www.inshorts.com/en/read/entertainment"
r = requests.get(URL)
  
soup = BeautifulSoup(r.content, 'html.parser')
#print(soup)
news = soup.find_all("div", class_="news-card z-depth-1")
for i in news:
    #print(i)
    title=i.find("div", class_="news-card-title news-right-box")
    #print(title.text)
    article=i.find("div", itemprop="articleBody")
    #print(article.text)
    #print()
    row=[title.text,article.text,"Entertainment"]
    rows.append(row)

In [4]:
URL = "https://www.india.com/entertainment/"
r = requests.get(URL)
  
soup = BeautifulSoup(r.content, 'html.parser')
#print(soup)
news = soup.find_all("article", class_="repeat-box")
for i in news:
    figcaption=i.find("figcaption",class_="text")
    if figcaption!=None:
        titles=figcaption.find("h2")
        if titles!=None:
            title=(titles.text)
        para=figcaption.findChildren("p")
        if len(para)!=0:
            article=para[0].text
            #print(article
        row=[title,article,"Entertainment"]
        rows.append(row)

NameError: name 'title' is not defined

In [8]:
URL = "https://news.abplive.com/entertainment"
r = requests.get(URL)
  
soup = BeautifulSoup(r.content, 'html.parser')
#print(soup)

news = soup.find_all("div", class_="other_news")
for i in news:
    j=i.findChild("a")
    #title=j.find(attrs={"a": "title"})
    title=j['title']
    row=[title,"","Entertainment"]
    rows.append(row)

In [7]:
URL = "https://www.indiatvnews.com/entertainment"
r = requests.get(URL)
  
soup = BeautifulSoup(r.content, 'html.parser')
#print(soup)

news = soup.find_all("li", class_="p_news")
for i in news:
    title=i.find("h3",class_="title").text
    #print(title)
    article=i.find("p",class_="dic").text
    #print(article)
    #print()
    row=[title,article,"Entertainment"]
    rows.append(row)

In [9]:
with open('entertainment.csv', 'a', newline='',encoding='utf-8') as file:
     writer = csv.writer(file)
     writer.writerows(rows)
    
import pandas as pd
df=pd.read_csv("entertainment.csv")
df.head()
df.shape

(176, 3)

In [10]:

df.head()

                                               Title Article       Category
0  Malaika Arora Fuels Breakup Rumours With Arjun...     NaN  Entertainment
1  Kriti Sanon Seeks Blessings At Siddhivinayak T...     NaN  Entertainment
2  Bernie Mardsen Death News: Rock Legend And 'Wh...     NaN  Entertainment
3  Guns & Gulaabs To Kohra; Check Out These Inten...     NaN  Entertainment
4   Renowned Poet And Lyricist Dev Kohli Passes Away     NaN  Entertainment